@using Gudang.Models.Master
@model List<MasterRole>
@{
}
<h3 class="mb-4 fw-bold"> Master Role</h3>

<div class="card">
    <div class="card-header p-3">
        <div class="container-fluid px-0">
            <div class="row g-2 align-items-center">
                <!-- Filter -->
                <div class="col-12 col-md-3">
                    <button class="btn btn-outline-primary w-50" data-bs-toggle="modal" data-bs-target="#filter-data">
                        <i class="bi bi-funnel"></i> Filter Data
                    </button>
                </div>

                <!-- Actions -->
                <div class="col-12 col-md-9">
                    <div class="d-flex flex-wrap gap-2 justify-content-start justify-content-md-end">
                        <a class="btn btn-outline-success" asp-controller="Role" asp-action="Create">
                            <i class="bi bi-plus-circle"></i> Tambah Data
                        </a>
                        <a class="btn btn-success" asp-controller="Role" asp-action="Export">
                            <i class="bi bi-file-earmark-excel"></i> Export
                        </a>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#import-data">
                            <i class="bi bi-file-earmark-arrow-up"></i> Import
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- Table -->
        <table class="table table-hover align-middle" id="myTable">
            <thead class="table-primary text-center" >
                <tr>
                    <th style="width: 5%;">No</th>
                    <th>Nama Role</th>
                    <th>Deskripsi</th>
                    <th style="width: 5%;">Status</th>
                    <th style="width: 15%;">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <!-- data via DataTables -->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="filter-data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Status</label>
                    <select name="filtered-status" id="filtered-status" class="form-control">
                        <option value="true" selected>ENABLE</option>
                        <option value="false">DISABLE</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" onclick="applyFilter()">Terapkan</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="import-data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Import Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a class="btn btn-outline-success mb-2">
                    <i class="bi bi-file-earmark-excel"></i> Download File
                </a>
                <div class="form-group">
                    <label>Upload File (.xlsx)</label>
                    <input type="file" class="form-control" name="file" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </div>
</div>

<div id="alert-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1060;"></div>

<!-- Template alert (akan dipanggil lewat JS) -->
<script>   
    showAlert("Data berhasil disimpan!", "success");
    function loadtable(){
        $(function () {
          let status = $('#filtered-status').val();
          $.fn.dataTable.ext.errMode = 'none';
            if ($.fn.DataTable.isDataTable('#myTable')) {
                $('#myTable').DataTable().clear().destroy();
            }
          $('#myTable')
            .on('error.dt', function (e, settings, techNote, message) {
              console.error('DataTables error:', message);
            })
            .DataTable({
              processing: true,
              serverSide: true,scrollX: false,
              ajax: {
                url: '/Role/GetRoles?status='+status,
                type: 'POST',
              },
              columns: [
                {
                  data: null, // tidak ambil dari data API
                  render: (data, type, row, meta) => meta.row + 1, // kasih nomor urut
                  defaultContent: ''
                },
                { data: 'roleName', defaultContent: '' },
                { data: 'roleDescription', defaultContent: '' },
                {
                  data: 'status',
                  render: (d, type, row) => {
                    return d
                    ? `<span class="badge bg-success" onclick="changeStatus('${row.roleId}', false)">Enable</span>`
                    : `<span class="badge bg-danger" onclick="changeStatus('${row.roleId}', true)">Disable</span>`;
                  },
                  defaultContent: ''
                },
                {
                  data: null,
                  render: (row) => `
                  <button class="btn btn-sm me-2 btn-primary" onclick="editData('${row.roleId}')" data-id="${row.roleId ?? ''}"><i class="bi bi-pencil"></i> Edit</button>
                  <button class="btn btn-sm me-2 btn-danger" onclick="hapusData('${row.roleId}')" data-id="${row.roleId ?? ''}"><i class="bi bi-trash"></i> Hapus</button>`,
                  orderable: false,
                  searchable: false
                }
              ]
            });
        });

            $('#myTable').removeClass('dataTable no-footer');
    }

    // dipanggil saat klik "Terapkan"
    function applyFilter() {
      currentStatus = $('#filtered-status').val() ?? "";
      loadtable();
      $('#filter-data').modal('hide');

    }

    // panggil sekali saat halaman siap (tanpa filter)
    $(function(){ loadtable(); });

    // ubah status
    function changeStatus(data_id, status){
        let text_status = 'DISABLE';
        if(status == true){
            text_status = 'ENABLE';
        }
        Swal.fire({
            title: 'Apakah Anda yakin?',
            text: `Ubah status Role ID: ${data_id} (${text_status}) ?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
            // Contoh hit API pakai fetch
            fetch(`/api/roles/${id}/toggle-status`, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ currentStatus: status })
            })
            .then(res => res.json())
            .then(data => {
                Swal.fire('Berhasil!', 'Status berhasil diubah.', 'success');
                // Refresh datatable setelah update
                $('#myTable').DataTable().ajax.reload(null, false);
            })
            .catch(err => {
                Swal.fire('Error!', 'Terjadi kesalahan saat update.', 'error');
                console.error(err);
            });
            }
        });
    }

    // edit data
    function editData(data_id){
        Swal.fire({
            title: 'Apakah Anda yakin?',
            text: `Edit Data Role ID: ${data_id}?`,
            icon: 'warning',
        })
    }

    // hapus data
    function hapusData(data_id){
        Swal.fire({
            title: 'Apakah Anda yakin?',
            text: `Ubah status Role ID: #${data_id} ?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
            // Contoh hit API pakai fetch
            fetch(`/api/roles/${id}/toggle-status`, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ currentStatus: status })
            })
            .then(res => res.json())
            .then(data => {
                Swal.fire('Berhasil!', 'Status berhasil diubah.', 'success');
                // Refresh datatable setelah update
                $('#myTable').DataTable().ajax.reload(null, false);
            })
            .catch(err => {
                Swal.fire('Error!', 'Terjadi kesalahan saat update.', 'error');
                console.error(err);
            });
            }
        });
    }
</script>