# Build hasil compile
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS Code / Visual Studio
.vscode/
.vs/

# Paket NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Log
*.log

# Config sensitive
*.env
appsettings.*.json
Gudang/